<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhino.ui">

    <application>
        <activity
            android:name=".utils.crash.CrashTipsActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".utils.crash.CrashService"
            android:enabled="true"
            android:process=":crash" />
    </application>
</manifest>
